.container {
    width: calc(100vw - 80px);
    /* padding: 0 40px; */
}
  
.box1 {
    float: left;
    width: 250px;
    display: inline-block;
}
.box2 {
    width: calc(100vw - 350px);
    display: inline-block;
    /* margin-bottom: 20px; */
    /* margin-right: 100px; */
}
  
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           PICK            ***************************************/
/***************************************           CHILI           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/



.toggleOn {
    background-color: rgb(255, 69, 0, .2);
}

.chiliSection {
    max-width: 100vw
}

.spiceSection {
    display: inline-block;
    margin: 0 10px;
    margin-block-end: -6px;
}

.chiliSection > section, .chiliSection > button { 
    height: 90px;
    width: 100px;
}
.spiceSection > section, .spiceSection > button { 
    height: 80px;
    width: 100px;
    top: 0;
}
/* .chiliSection > section, .spiceSection > section { */
section > section {
    margin-block-start: 6px;
    font-weight: 600;
    text-align: center;
}
.spiceSection > section { 
    font-size: 14px;
}
.chiliSection > section {
    font-size: 11px;
}

.chiliSection img {
    height: 60px;
    width: 60px;
}

.spiceSection ul {
    display: block;
    list-style-type: disc;
    margin-block-start: .5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
    text-align: left;
    font-size: 10px;
    font-weight: 200;
}

.chiliBtn, .selectBtn {
    display: inline-block;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    margin-bottom: -10px;    
    position: absolute;
    border: none;
}

.selectBtn {
    margin-left: 0px;
    padding: 0;
}


/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************         PROGRESS          ***************************************/
/***************************************              BAR          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
progress {
-webkit-appearance: none;
appearance: none;
}
/* @-webkit-keyframes animate-stripes {
100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
100% { background-position: -100px 0px; }
} */

progress[value]::-webkit-progress-bar {
background-color: #eee;
border-radius: 2px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
/* -webkit-animation: animate-stripes 5s linear infinite;
animation: animate-stripes 5s linear infinite; */
}

progress[value]::-webkit-progress-value {
background-image:
        /* -webkit-linear-gradient(-45deg, 
                                transparent 33%, rgba(0, 0, 0, .1) 33%, 
                                rgba(0,0, 0, .1) 66%, transparent 66%), */
        -webkit-linear-gradient(top, 
                                rgba(255, 255, 255, .25), 
                                rgba(0, 0, 0, .25)),
        -webkit-linear-gradient(left, rgb(255, 255, 0, 0), yellow, yellow, orange, #f44, red);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition: width .5s linear;
}

.bored-bar {
width: calc(100% - 50px);
margin: 20px 10px;
}



/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           CHALK           ***************************************/
/***************************************           LINE            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.chalk-bottom {
height: 5px;
width: calc(100vw - 0px);
position: relative;
top: -12px;
}
.chalk {
    height: 5px;
    width: calc(100% - 0px)
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           SCROLL          ***************************************/
/***************************************           BAR             ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.arrow-prev, .arrow-next {
width: 0; 
height: 0; 
}

.arrow-prev {
border-right: 20px solid green; 
margin-left: 10px;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent; 
}
.arrow-next {
border-left: 20px solid red;
margin-right: 10px;
border-top: 50px solid transparent;
border-bottom: 50px solid transparent;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************         MOBILE            ***************************************/
/***************************************         FRIENDLY          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
@media screen and (max-width: 500px) {
    .box1 {
        width: 100vw;
        display: block;
        float: none;
    }
    .box2 {
        width: 100vw;
        display: block;
        margin-bottom: auto;
    }
    .bored-bar {
        width: calc(100vw - 40px);
        margin: 20px 0;
    }
    .chalk {
        width: 100vw;
    }
}
