/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************         BOX1              ***************************************/
/***************************************         BOX2              ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.box1 {
    float: left;
    width: 50vw;
    /* width: calc(26vw - 0px); */
    display: inline-block;
    min-width: 280px;
}
.box1 h2 {
    text-align: center;
}
.box1 ol {
    margin: 0;
    text-align: right;
}

.box2 {
    width: 50vw;
    /* width: calc(100vw - 280px); */
    display: inline-block;
    max-width: 800px;
}
@media screen and (max-width: 767px) {
    .box1 {
        width: calc(100vw - 20px);
        display: block;
        float: none;
        margin: 0 10px;
        padding: 0;
    }
    .box2 {
        width: 100vw;
        display: block;
        margin-bottom: auto;
    }
}
@media screen and (max-width: 340px) {
    .box1 {
        width: 100vw;
        margin: 0px;
    }

}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************         ADD TO            ***************************************/
/***************************************         RECIPE            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.add-chili {
    text-align: right;
}
.add-spice {
    text-align: right;
}
.add-on {
    text-align: left;
}
.add-extra {
    text-align: right;
}
.addChili {
    font-size: 18px;
    font-weight: 800;
}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           PICK            ***************************************/
/***************************************           CHILI           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.chiliSection {
    max-width: 100vw
}

.spiceSection {
    display: inline-block;
    margin: 0 10px;
    margin-block-end: -6px;
}

.chiliSection > section, .chiliSection > button { 
    margin-top: 0px;
    height: 80px;
    width: 100px;
}
.spiceSection > section, .spiceSection > button { 
    height: 80px;
    width: 100px;
    top: 0;
}

section > section {
    margin-block-start: 6px;
    font-weight: 600;
    text-align: center;
}
.spiceSection > section { 
    font-size: 14px;
}
.chiliSection > section {
    font-size: 11px;
}

.chiliSection img {
    height: 60px;
    width: 60px;
}

.spiceSection ul {
    display: block;
    list-style-type: disc;
    margin-block-start: .5em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 25px;
    text-align: left;
    font-size: 10px;
    font-weight: 200;
}



.selectBtn {
    margin-left: 0px;
    padding: 0;
}

.toggleOn {
    background-color: rgb(255, 69, 0, .2);
}
.active {
    background-color: rgb(0, 128, 0, .2);
}

.name-sauce {

    font-size: 14px;
    width: 125px;
    border: none;
    text-align: center;
    margin-bottom: -20px;
    background-color: transparent;
    font-weight: 600;
}


/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           HORIZONTAL      ***************************************/
/***************************************           SCROLL          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.menu-item {
    padding: 0 40px;
    margin: 5px 10px;
    user-select: auto;
    cursor: pointer;
    border: none;
}
.menu-wrapper {
    max-height: 80px;
}
.menu-item-wrapper {
    background-color: #fff !important;
    max-height: 80px;
}

.scroll-menu-arrow {
    padding: 0px;
    cursor: pointer;
}
.arrow-prev, .arrow-next {
    width: 0; 
    height: 0; 
}
.arrow-prev {
    border-right: 20px solid green; 
    margin-left: 10px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent; 
}
.arrow-next {
    border-left: 20px solid red;
    margin-right: 10px;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
}
@media screen and (max-width: 767px) {
    .bored-bar {
        width: calc(100vw - 40px);
        margin: 20px 0;
    }

}