/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           Faux            ***************************************/
/***************************************           FLEX            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.userHome {
    width: calc(100vw - 00px);
}

.home-left {
    display: inline-block;
    width: 30vw;
    float: left;
    text-align: left;
}

.home-left button {
    display: block;
    margin: 10px auto;
    width: 18vw;
}

.home-left h3 {
    margin: 2.5vw;
}

.home-right {
    display: inline-block;
    width: 70vw;
    margin-right: 0px;
}
.home-right form {
    display: inline-block;
}



.linkBtn {
    width: 100%;
    height: 100%;
    background-color: white;
}

.user-show-recipe {
    position: relative;
    display: inline-block;
    width: 30vw;
    height: 6vw;
    margin: 10px auto 0 auto;
}
.recipe-data {

}
.recipe-img {

}


.list-left, .list-right {
    display: inline-block;
    max-width: 33vw;
    /* overflow: auto; */
  position: relative;
    top: 0;
}
.list-left {
    float: left;
}
.list-right {
    float: right;
    margin-right: 2.5vw;
}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           SHOW            ***************************************/
/***************************************           ORDER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.user-show-order {
    background-color: green;
    display: inline-block;
    border: solid black 1px;
    height: 30vw;
    width: 60vw;
    margin: 0 auto 40px auto;
    text-align: justify;
  }

.order-data {
    display: inline-block;
}


.order-img {
    background-color: yellow;
    height: 25vw;
    width: 25vw;
    border: black solid 1px;
    display: inline-block;
    left: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           DELETE          ***************************************/
/***************************************           RECIPE          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.hide-delete {
    display: none;
}
.deleteBtn {
    position: absolute;
    left: 28vw;
    top: .5vw;
    z-index: 5;
}






.edit-container {
    width: 18vw;
    background-color: lightgray;
    margin: 0 auto;
}
.edit-container input {
    width: 18vw;
}
.off {
    display: none;
}

.on {
    background-color: orangered;
}


.home-show-orders {
    width: 60vw;
    display: inline-block;
}


.user-icon {
    height: 24px;

}


/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           MEDIA           ***************************************/
/***************************************           QUERY           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
@media screen and (max-width: 767px) {

    .userHome div {
        display: block;
        /* width: 100vw; */
    }
    .list-left button, .list-right button {
        /* width: 60vw; */
        /* height: 40px; */
        /* margin: 10px; */
    }
    .order-img {
        height: 90vw;
        width: 90vw;
    }
    .list-left, .list-right {
        /* display: block; */
        width: 100vw;
        /* height: 200px; */
        max-width: 100vw;
        /* overflow: auto; */
        position: relative;
        /* top: none; */
    }
    .list-left {
        float: none;
    }
    .list-right {
        float: none;
        margin-right: 2.5vw;
    }
    .home-show-orders {
        width: 100vw;
        /* display: inline-block; */
    }

    .home-right {
        /* display: inline-block; */
        width: 100vw;
        /* margin-right: 0px; */
    }

    .user-show-recipe {
        position: relative;
        /* display: inline-block; */
        width: 60vw;
        height: 10vw;
        margin: 10px auto ;
    }
}









