.label1 {
    background-image: url('../img/labels/wood-label.png');
}
.label2 {
    background-image: url('../img/labels/green-red-white-label.png');
}
.label3 {
    background-image: url('../img/labels/tiedye-example.png');
    color: #fff;
}
.label4 {
    background-image: url('../img/labels/white-label.png');
}
.label5 {
    background-image: url('../img/labels/wood-frame-label.png');
    color: rgb(123, 88, 65);
}
.label1 > input::placeholder {
    color: #000;
}
.label2 > input::placeholder {
    color: #000;
}

.label3 .brand-header::placeholder, .label3 .brand-header {
    color: #fff;
    margin: 10px auto 5px auto;
}

.label3 .name-sauce, .label3 .name-sauce::placeholder {
    color: #000;
    margin-top: 5px;
}

.label4 > input::placeholder {
    color: #000;
}
.label5 > input::placeholder {
    color: rgb(123, 88, 65);
}
.label5 .name-sauce::placeholder {
    color: #000;
}
.label5 .brand-header {
    color: rgb(123, 88, 65);
}
.label3 .brand-header, .label5 .brand-header {
    /* color: #000; */
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
}
.label5 h4, .label3 h3, .label5 h3 {
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
    font-stretch: expanded;
}
.ounces {
    font-size: 9px;
    margin-top: 3px;
}
.label1 .ounces {
color: rgb(123, 88, 65);
}
.label2 .ounces {
    color: #fff;
}
.label3 .ounces {
    color: black;
    font-weight: 600;
}
.label4 .ounces {
    color: #fff;
}
.label5 .ounces {
    color: #000;
}

.form-container > form {
    margin-top: 5px;
}

/*********************************  FORM */
.pick-label > div {
    height: 195px;
    width: 135px;
    margin: 20px auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.pick-label h3 {
    font-size: 34px;
    margin-top: 26px;
}
.pick-label h4 {
    margin-top: 0px;
    padding: 5px 0 ;
    width: 100%;
}
.pick-label img {
    display: block;
    height: 100px;
    width: 100px;
    margin: 0 auto 5px auto;
}
.card-label {
    transform: scale(.7);
    margin: 0 -15%;
}

/********************************* labels */
.labels {
    height: 80px;
}
.labels > div > div {
margin: 0 4px;
}

.brand-header {
    font-family: 'Smokum', 'Times New Roman', Times, serif;
    font-size: 28px;
    margin-top: 20px;
    text-align: center;
    width: 125px;
    border: 0;
    background-color: transparent;
}

/****************************************************** MINI LABELS */
.pick-mini-labels {
    margin-bottom: -30px;
}

.pick-mini-labels > div > div {
    display: inline-block;
    transform: scale(.3);
    margin: -80px -50px;
}



@media screen and (max-width: 767px) {
    /* .pick-mini-labels > div > div {
        display: inline-block;
        transform: scale(1.1);
        margin: 0 -18vw 14vw -18vw;
    } */
}