@import url('https://fonts.googleapis.com/css?family=Arbutus|Holtwood+One+SC|Smokum|Wellfleet&display=swap');
/* font-family: 'Holtwood One SC', serif; */
/* font-family: 'Wellfleet', cursive; */
/* font-family: 'Smokum', cursive; */
/* font-family: 'Arbutus', cursive; */




a {
  text-decoration: none;
}

h1 {
  /* font-family: 'Holtwood One SC', serif; */
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  /* display: block; */
  font-size: 4em;
  margin-block-start: 40px;
  margin-block-end: 0em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  font-weight: bolder;
}

h2 {
  display: block;
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 3em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  /* font-weight: bold; */
}
h3 {
  display: inline-block;
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 2em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  /* font-weight: bold; */
}


.x {
  /* position: absolute; */
  float: right;
  z-index: 1;
  margin: -7vw;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0;
}
button {
  background-color: transparent;
}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************         CONTAINER         ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-container {
  background-image: url('wood-panel-header.png');
  background-repeat: repeat-x;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 150px 40px auto 60px;
  grid-template-columns: 100px calc(100vw - 200px) 100px;
  background-color: orangered;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
grid-template-areas:
  ' logo header . '
  ' nav nav nav'
  ' main main main '
  ' footer footer footer';
  grid-gap: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          HEADER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-header {
  grid-area: header;
  text-align: center;
  /* color: orangered; */
  text-shadow: rgb(253, 118, 76, 0.5);
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           LOGO            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-logo {
  grid-area: logo;
  padding: 25px;
  /* background-color: orangered; */
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************            NAV            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-nav {
  grid-area: nav;
  /* background-image: url('woodpanels.png');
  background-repeat: repeat-x; */
  /* background-color: rgb(0, 0, 0, .5); */
  background-color: orangered;
  /* background-color: #000; */
  text-align: right;
}

.navBox {
  margin: 11px 0;
}
.navBox > a {
  padding: 0 30px 0 0;
  color: white;
  font-weight: 700;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,.5)
}
.modal > div {
  width: 60vw;
  min-width: 200px;
  margin: 10vw auto;
  background-color: white;
  padding: 10vw;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           MAIN            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-main {
  grid-area: main;
  background-color: white;
  text-align: center;
  /* padding: 0 20px; */
}



/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          FOOTER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-footer {
  grid-area: footer;
  /* color: white; */
  background-color: white;
  /* background-color: rgb(123, 63, 0); */
  /* bottom: 0; */
  /* text-align: right; */
  padding: 0 0 0 0;
}

.grid-footer > section {
  /* position: fixed; */
  float: right;
}








/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           MEDIA           ***************************************/
/***************************************           QUERY           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

@media screen and (max-width: 500px) {
  .grid-container {
    /* display: grid; */
    /* width: 100vw; */
    /* height: 100vh; */
    grid-template-rows: 60px 40px auto 40px;
    grid-template-columns: 60px calc(100vw - 60px);
    /* background-color: orangered; */
    /* grid-gap: 0; */
    /* padding: 0; */
  grid-template-areas:
    ' logo header '
    ' nav nav '
    ' main main '
    ' footer footer';
    grid-gap: 0;
  }
  .grid-nav {
    text-align: center;
    padding-left: 20px;
  }
  .grid-footer {
    padding: 10px 0 0 0;
  }

  h1 {
    font-size: 11vw;
  }
  h2 {
    font-size: 1em;
  }
  .App-logo {
    height: 60px;
  }
}
/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           SHOW            ***************************************/
/***************************************           MODAL           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.form {
  background-color: white;
}

#title {
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 2em;
}



.new-recipe {
  width: calc(500px - 40px);
  margin: 0 auto;
  /* background-color: yellow; */
  margin-bottom: 30px;
  padding: 0 20px 30px 20px;
}

.chili {
  height: 60px;
  width: 60px;
}

.new-recipe section {
  text-align: right;
}

.new-recipe ul {
  margin-block-end: 0em;
}

.new-recipe li {
  text-align: right;
}

.show-recipe {
  margin-right: 20px;
}

.chalk-line {
  width: 460px;
  height: 5px;
  margin: 0 auto;
}

.show-recipe span {
  float: left;
  margin-left: 20px;
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 1.5em;
}
