progress {
  -webkit-appearance: none;
  appearance: none;
}
/* @-webkit-keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
  100% { background-position: -100px 0px; }
} */

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  /* -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite; */
}

progress[value]::-webkit-progress-value {
  background-image:
	   /* -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%), */
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, rgb(255, 255, 0, 0), yellow, yellow, orange, #f44, red, purple);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition: width .5s linear;

}


.bored-bar {
  width: 80vw;
  margin: 0 10vw;


}




body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************         CONTAINER         ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 100px 40px auto 100px;
  grid-template-columns: 1fr 1fr;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
grid-template-areas:
  ' logo header '
  ' nav nav '
  ' main main '
  ' footer footer ';
  grid-gap: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          HEADER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-header {
  grid-area: header;
  background-color: orangered;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           LOGO            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-logo {
  grid-area: logo;
  background-color: orangered;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************            NAV            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-nav {
  grid-area: nav;
  background-color: rgb(123, 63, 0);
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           MAIN            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-main {
  grid-area: main;
  background-color: white;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          FOOTER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-footer {
  grid-area: footer;
  background-color: lightgrey;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           PICK            ***************************************/
/***************************************           CHILI           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
button {
  background-color: transparent;
}

li {
  text-align: left;
}

.toggleOn {
  background-color: rgb(255, 69, 0, .5);
}


.chiliSection > section, .spiceSection > section, .extraSection > section, .vinegarSection > section  {
  display: inline-block;
  margin: 10px;
}

.chiliSection > section > section, .chiliSection > section > button { 
  /* border: none; */
  /* background-color: transparent; */
  /* padding: 10px; */
  height: 80px;
  width: 60px;
  margin: 0 20px;
}

.chiliSection > section > button, .spiceSection > section > button, .extraSection > section > button, .vinegarSection > section > button {
  position: absolute;
  border: none;
}


.chiliBtn, .spiceBtn, .extraBtn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  margin-bottom: -10px;
}

.chiliSection > section > section, .spiceSection > section > section {
  display: inline-block;
  text-align: center; 
  /* padding: 10px; */
  font-size: 10px;
  /* margin-left:-80px; */
}

.spiceSection > section > section, .spiceSection > section > button { 
  /* border: none; */
  /* padding: 10px; */
  height: 80px;
  width: 100px;
}

.extraSection > section > section, .extraSection > section > button { 
  /* border: none; */
  /* padding: 10px; */
  text-align: center;
  height: 80px;
  width: 100px;
}

.vinegarSection > section > section, .vinegarSection > section > button { 
  /* border: none; */
  /* padding: 10px; */
  text-align: center;
  height: 80px;
  width: 100px;
}