@import url('https://fonts.googleapis.com/css?family=Arbutus|Holtwood+One+SC|Smokum|Wellfleet&display=swap');
/* font-family: 'Holtwood One SC', serif; */
/* font-family: 'Wellfleet', cursive; */
/* font-family: 'Smokum', cursive; */
/* font-family: 'Arbutus', cursive; */


progress {
  -webkit-appearance: none;
  appearance: none;
}
/* @-webkit-keyframes animate-stripes {
  100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
  100% { background-position: -100px 0px; }
} */

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
  /* -webkit-animation: animate-stripes 5s linear infinite;
  animation: animate-stripes 5s linear infinite; */
}

progress[value]::-webkit-progress-value {
  background-image:
	   /* -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%), */
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, rgb(255, 255, 0, 0), yellow, yellow, orange, #f44, red);

    border-radius: 2px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
    transition: width .5s linear;

}

a {
  text-decoration: none;
}

h1 {
  /* font-family: 'Holtwood One SC', serif; */
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  /* display: block; */
  font-size: 4em;
  margin-block-start: 10px;
  margin-block-end: 0em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  font-weight: bolder;
}

h2 {
  /* display: block; */
  font-size: 1.5em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  /* margin-inline-start: 0px; */
  /* margin-inline-end: 0px; */
  /* font-weight: bold; */
}

.bored-bar {
  width: 80vw;
  margin: 0 10vw;
}

.x {
  /* position: absolute; */
  float: right;
  z-index: 1;
  margin: -7vw;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*:focus {
  outline: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************         CONTAINER         ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-rows: 100px 40px auto 60px;
  grid-template-columns: 100px calc(100vw - 200px) 100px;
  background-color: orangered;
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  grid-gap: 0;
  /* background-color: #2196F3; */
  padding: 0;
grid-template-areas:
  ' logo header . '
  ' nav nav nav'
  ' main main main '
  ' footer footer footer';
  grid-gap: 0;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          HEADER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-header {
  grid-area: header;
  text-align: center;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           LOGO            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-logo {
  grid-area: logo;
  /* background-color: orangered; */
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************            NAV            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-nav {
  grid-area: nav;
  background-color: rgb(123, 63, 0);
  text-align: right;
}

.navBox {
  margin: 11px 0;
}
.navBox > a {
  padding: 0 30px 0 0;
  color: white;
  font-weight: 700;
}

.modal {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0,0,0,.5)
}
.modal > div {
  width: 60vw;
  min-width: 200px;
  margin: 10vw auto;
  background-color: white;
  padding: 10vw;
}

/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************           MAIN            ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-main {
  grid-area: main;
  background-color: white;
  text-align: center;
}



/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           GRID            ***************************************/
/***************************************          FOOTER           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/

.grid-footer {
  grid-area: footer;
  color: white;
  /* font-weight: 400; */
  background-color: rgb(123, 63, 0);
  bottom: 0;
  text-align: right;
  padding: 40px 0 0 0;
}


/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           PICK            ***************************************/
/***************************************           CHILI           ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
button {
  background-color: transparent;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: .5em;
  margin-block-end: 0em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 25px;
  text-align: left;
  font-size: 10px;
  font-weight: 200;
}

section > section {
  margin-block-start: 6px;
  /* margin-block-end: -6px; */
  font-size: 18px;
  font-weight: 600;
  /* margin-top: 5px; */
  font-size: 14px;
}

.toggleOn {
  background-color: rgb(255, 69, 0, .2);
  /* z-index: -1; */
}


.spiceSection, .extraSection, .vinegarSection  {
  display: inline-block;
  margin: 0 10px;
  margin-block-end: -6px;
}

.chiliSection > section, .chiliSection > button { 
  height: 90px;
  width: 100px;
  /* margin: 0 20px; */
}

.chiliSection > button, .spiceSection > button, .extraSection > button, .vinegarSection > button {
  position: absolute;
  border: none;

}

.chiliSection {
  max-width: 100vw
}
/* .horizontal-menu {
  width: calc(100vw - 34px);
} */


.chiliSection > section > img {
  height: 60px;
  width: 30px;
}

.chiliBtn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  margin-bottom: -10px;
  /* margin-left: -50px; */
}

.selectBtn {
  display: inline-block;
  position: relative;
  z-index: 1;
  border-radius: 15px;
  margin-bottom: -10px;
  margin-left: -50px;
  padding: 0;
}

.chiliSection > section {
  /* background-color: purple; */
  /* display: inline-block; */
  text-align: center; 
  /* padding: 10px; */
  font-size: 10px;
  /* margin-left:-80px; */
}

.spiceSection > section, .spiceSection > button { 
  /* background-color: red; */
  /* background-color: green; */
  /* border: none; */
  /* padding: 10px; */
  height: 80px;
  width: 100px;
}

.extraSection > section, .extraSection > button { 
  /* background-color: blue; */
  /* border: none; */
  /* padding: 10px; */
  text-align: center;
  height: 30px;
  width: 100px;
}

.vinegarSection > section, .vinegarSection > button { 
  /* background-color: yellow; */
  /* border: none; */
  /* padding: 10px; */
  text-align: center;
  height: 30px;
  width: 100px;
}



/*********************************************************************************************************/
/***************************************                           ***************************************/
/***************************************           HORIZONTAL      ***************************************/
/***************************************           SCROLL          ***************************************/
/***************************************                           ***************************************/
/*********************************************************************************************************/
.menu-item {
  padding: 0 40px;
  margin: 5px 10px;
  user-select: auto;
  cursor: pointer;
  border: none;
}
.menu-item-wrapper.active {
  border: none;
  /* border: 1px blue solid; */
}
.menu-item.active {
  border: 1px green solid;
}
 
.scroll-menu-arrow {
  padding: 0px;
  cursor: pointer;
  /* font-family: 'Holtwood One SC', serif; */
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 60px
}


@media screen and (max-width: 500px) {
  .grid-container {
    /* display: grid; */
    /* width: 100vw; */
    /* height: 100vh; */
    grid-template-rows: 60px 40px auto 40px;
    grid-template-columns: 60px calc(100vw - 60px);
    /* background-color: orangered; */
    /* grid-gap: 0; */
    /* padding: 0; */
  grid-template-areas:
    ' logo header '
    ' nav nav '
    ' main main '
    ' footer footer';
    grid-gap: 0;
  }

  .grid-footer {
    padding: 10px 0 0 0;
  }

  h1 {
    font-size: 11vw;
  }
  h2 {
    font-size: 1em;
  }
  .App-logo {
    height: 60px;
  }
}


.form {
  background-color: white;
}

#title {
  font-family: 'Smokum', 'Times New Roman', Times, serif;
  font-size: 2em;
}