.header-examples {
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1;
    width: 100vw;
    border-bottom: 40px solid orangered;
}
.hex1 {
    background-image: url('../../wood-panel.png');
}
.hex2 {
    background-image: url('../../wood-panel-vintage.png');
}
.hex3 {
    background-image: url('../../wood-panel-light.png');
}
.hex4 {
    background-image: url('../../wood-panel-header.png');
}

.header-examples img {
    margin: 2vw;
    width: 46vw;
}