.header-examples {
    background-repeat: repeat-x;
    background-position: center;
    z-index: 1;
    width: 100vw;
    border-bottom: 40px solid orangered;


}
.hex1 {
    background-image: url('../../img/wood-panel.png');
}
.hex2 {
    background-image: url('../../img/wood-panel-vintage.png');
}
.hex3 {
    background-image: url('../../img/wood-panel-light.png');
}
.hex4 {
    background-image: url('../../img/wood-panel-header.png');
}

.header-examples img {
    margin: 2vw;
    width: 46vw;
}






.labels {

}

.labels > div {
    height: 250px;
    /* width: ; */
    margin: 20px 0;;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.label1 {
    background-image: url('../../img/labels/wood-label.png');
}
.label2 {
    background-image: url('../../img/labels/green-red-white-label.png');
}
.label3 {
    background-image: url('../../img/labels/tiedye-example.png');
    color: white;
}
.label4 {
    background-image: url('../../img/labels/white-label.png');
}

.label3 h3 {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
}

.label3 h4 {
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

.labels h3 {
    font-size: 34px;
    margin-top: 26px;
}

.labels h4 {
    margin-top: 0px;
    padding: 5px 0 ;
    width: 100%;
}

.labels img {
    display: block;
    height: 120px;
    margin: 10px auto 0 auto;
}