.label1 {
    background-image: url('../../img/labels/wood-label.png');
}
.label2 {
    background-image: url('../../img/labels/green-red-white-label.png');
}
.label3 {
    background-image: url('../../img/labels/tiedye-example.png');
    color: white;
}
.label4 {
    background-image: url('../../img/labels/white-label.png');
}

.label3 h3 {
    text-shadow: 2px 2px 0 black, -2px -2px 0 black, -2px 2px 0 black, 2px -2px 0 black;
}

.label3 h4 {
    text-shadow: 1px 1px 0 black, -1px -1px 0 black, -1px 1px 0 black, 1px -1px 0 black;
}

/*********************************  FORM */
.box1 .pick-label > div > div {
    min-height: 250px;
}
.box1 .pick-label h3 {
    font-size: 34px;
    margin-top: 26px;
}
.box1 .pick-label h4 {
    margin-top: 0px;
    padding: 5px 0 ;
    width: 100%;
}
.box1 .pick-label img {
    display: block;
    height: 120px;
    margin: 10px auto 0 auto;
}

/********************************* SCALABLE */
.labels > div > div {
    height: 20vw;
    margin: 1.6vw 0;
    min-width: 17vw;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* position: absolute; */
}

.labels > div > div:hover {
    position: relative;
    z-index: 2
}
.labels > div {
position: relative
}
.labels h3 {
    font-size: 2.7vw;
    margin-top: 2.1vw;
}
.brand-sauce
{
    font-family: 'Smokum', 'Times New Roman', Times, serif;
    font-size: 2.7vw;
    margin-top: 2.1vw;
    /* margin: 0; */
    text-align: center;
    width: 15vw;
    border: 0;
    background-color: transparent;
}
.labels h4 {
    font-size: 1.3vw;
    margin-top: 0px;
    padding: .4vw 0;
    width: 100%;
}
.labels img {
    display: block;
    height: 9.6vw;
    margin: .8vw auto 0 auto;
}




.pick-labels {
    /* display: inline-block; */

    max-height: 200px;
    /* overflow: hidden; */
}

.pick-labels > div > div {
    display: inline-block;
    transform: scale(.3);
    margin: -9.5vw -6vw;
}
/* .pick-labels h3, .pick-labels h4, .pick-labels img {
    transform: scale(.7);
} */